/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: SuperCreamy;
  src: url("/src/assets/Super\ Creamy.ttf");
}

body {
  --dot-bg: rgb(255, 255, 255);
  --dot-color: rgb(214, 214, 214);
  --dot-size: 2px;
  --dot-space: 26px;
  height: 100%;
  margin: 0;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(to bottom, #93959e, #cecece 35%, #cecece 65%, #93959e),
    var(--dot-color);

  font-family: SuperCreamy;
  font-size: 24px;
  line-height: 1.5;
}

#root {
  height: 100%;
}

.flex-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
  background: rgb(255, 255, 255);
  padding: 2rem;
  border: black solid 8px;
  border-radius: 15px;
  box-shadow: 4px 5px 0 rgba(28, 28, 37, 0.253);
  transition: all 0.66s cubic-bezier(0.39, 0.58, 0.57, 1);
  will-change: translate;

  &:hover {
    transition: all 0.2s;
    translate: 0 -5px;
    box-shadow: 4px 7px 0 1px rgba(28, 28, 37, 0.185);
  }
}
